<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/functions.js"> </script>
	<link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta charset="UTF-8">
	<title>Lab 5</title>
		<style>
		body {
			background-image : url("<%= imageURLs[0] %>");
		}
	</style>
</head>