<%- include ('partials/header.ejs') %>

<body>
	<main>
		<h1>
			Cool Images 
		</h1>

		<form action="/search" method="GET">
			<input type="text" size="12" placeholder="Type Keyword" name="keyword"/> <br><br>
			<button>
				Search
			</button>
		</form>
		<br>

	</main>

<%- include ('partials/footer.ejs') %>
