<%- include ('partials/header.ejs') %>

	<style>
		body {
			background-image : url("<%= imageURL %>");
		}
	</style>
</head>
<body>
	<main>
		<h1>
			Cool Images 
		</h1>

	</main>

<%- include ('partials/footer.ejs') %>
