body {
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Solway', serif;
	color : white;
	font-size: 2.5em;
}

input, button {
	font-size: 1em;
	border-radius: 20px;


}

main {
	background-color : rgba(0,0,0,0.75);
	width: 50%;
	margin : 0 auto; /* center content */
}

#favLink {
	background-color: rgba(250,250,250,0.75);
	color: #92C4F0;
	font-size : 0.7em;
}

.image {
	border-radius : 20px;
}

.imageContainer{
	background-color: rgba(250,250,250,0.75);
	display: inline-block;
}